[submodule "vendors/espressif/boards/esp32/aws_demos/application_code/espressif_code/esp32-camera"]
	path = vendors/espressif/boards/esp32/aws_demos/application_code/espressif_code/esp32-camera
	url = git@github.com:espressif/esp32-camera.git
